.darwer-list {
  height: 100%;
  overflow: auto;

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.04);
    border-radius: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background: rgb(18, 25, 38, 0.4);
    border-radius: 8px;
  }
}
