.title-actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;

  & .MuiButton-root {
    display: flex;
    align-items: center;
    position: relative;

    & a {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
    }
  }
}
