.section-layout {
  gap: 16px;
  width: 100%;
  display: flex;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 12px;

  @media screen and (max-width: 750px) {
    flex-direction: column;
  }
  &.horizontal-layout {
    flex-direction: column;
  }
  &__side {
    background-color: #ffffff;
    padding: 16px 20px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    min-width: 220px;
    gap: 4px;
    max-height: 500px;
    position: sticky;
    top: 70px;

    @media screen and (max-width: 750px) {
      min-width: unset;
    }
    &.horizontal-tabs {
      flex-direction: row;
      z-index: 10;
    }

    & .side-link {
      text-decoration: none;
      text-align: center;
      display: flex;
      align-items: center;
      color: #364152;
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
      font-style: normal;
      text-transform: capitalize;
      white-space: nowrap;
      padding: 0 16px;
      border-radius: 12px;
      height: 52px;
      background-color: transparent;
      white-space: break-spaces;
      & .icon {
        color: inherit;
        font-size: 20px;
        margin-right: 12px;
      }
      &--active {
        color: var(--mui-palette-primary-main);
        background-color: var(--mui-palette-primary-light);
      }
    }

    & .action-btton {
      text-decoration: none;
      text-align: center;
      display: flex;
      align-items: center;
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
      font-style: normal;
      text-transform: capitalize;
      white-space: nowrap;
      padding: 0 16px;
      border-radius: 12px;
      height: 52px;
      cursor: pointer;

      &--active {
        color: var(--mui-palette-primary-main);
        background-color: var(--mui-palette-primary-light);
      }
    }
  }

  &__section {
    background-color: #fff;
    border-radius: 12px;
    width: 100%;
    padding-block: 4px;
    overflow: auto;

    & .section-header {
      border-color: #e0e0e0;
      padding: 16px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      &__title {
        text-decoration: none;
        display: flex;
        align-items: center;
        gap: 16px;
        display: flex;
        align-items: center;

        & .MuiSvgIcon-root {
          transform: scale(-1, 1);
        }

        & .MuiTypography-root,
        a {
          font-size: 20px;
          font-weight: 600;
          line-height: 18.75px;
          color: inherit;
          text-decoration: none;
          text-align: center;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 12px;
        }
      }
    }

    & .section-content {
      padding: 16px 24px;
      padding-top: 0;
    }
  }

  &--dark {
    & .section-layout__side {
      background-color: var(--mui-palette-background-paper);

      & .side-link {
        color: var(--mui-palette-text-primary);
      }
    }

    & .section-layout__section {
      background-color: var(--mui-palette-background-paper);

      & .section-header {
        border-color: var(--mui-palette-text-primary);
      }
    }
  }

  &--rtl {
    flex-direction: row-reverse;
  }

  &.linktabs {
    gap: 0;

    & .section-layout__section {
      border-top-left-radius: 0;
      border-top-right-radius: 0;

      & .section-content {
        padding-top: 0;
      }
    }

    & .section-layout__side {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;

      &.horizontal-tabs {
        & .MuiTabs-root {
          border-radius: 0;
          border: 0;
          border-bottom: 1px solid #ebeef2;
          width: 100%;

          & .MuiTab-root {
            color: #90a1b9;
            font-size: 12px;
            font-weight: 400;
            line-height: 20px;
            position: relative;

            & a {
              position: absolute;
              top: 0;
              left: 0;
              height: 100%;
              width: 100%;
            }
          }

          & .Mui-selected {
            background-color: transparent;
            color: #4880ff;
          }

          & .MuiTabs-indicator {
            background-color: #4880ff;
            border-radius: 10px 10px 0 0;
            height: 3px;
          }
        }
      }
    }
  }
}
