.table-actions {
  display: flex;
  width: max-content;

  & .primary-btn {
    position: relative;
    overflow: hidden;

    & .active-link {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
    }
  }

  & .secondary-actions-btn {
    &.MuiButtonBase-root {
      // color: red;
      color: var(--mui-palette-text-primary);
    }
  }
}

.secondary-btn {
  min-width: 259px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
  color: var(--mui-palette-text-primary);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  padding: 12px;
  position: relative;
  overflow: hidden;
  border-radius: 6px;

  &:hover {
    background-color: var(--mui-palette-primary-light);
    color: var(--mui-palette-primary-main);

    & svg {
      color: var(--mui-palette-primary-main);
    }
  }

  & svg {
    width: 24px;
    height: 24px;
  }

  & a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
}
