.drawer-item {
  &__header {
    &.MuiListItemButton-root {
      padding: 10px 6px;
      border-radius: 4px;
      justify-content: center;
      cursor: grab;
      color: var(--mui-palette-text-primary);
      background-color: var(--mui-palette-background-paper);

      & .MuiListItemIcon-root {
        min-width: unset;
        color: var(--mui-palette-text-primary);
        margin-right: 10px;

        & svg {
          width: 24px;
          height: 24px;
        }
      }

      & .MuiListItemText-root {
        & .MuiTypography-root {
          font-size: 16px;
          text-transform: capitalize;
          font-weight: 400;
        }
      }
    }

    &--active {
      &.MuiListItemButton-root {
        & .MuiListItemText-root {
          & .MuiTypography-root {
            font-weight: 600;
          }
        }
      }
    }

    &--rtl {
      &.MuiListItemButton-root {
        & .MuiListItemIcon-root {
          margin-right: 0;
        }

        & .MuiListItemText-root {
          & .MuiTypography-root {
            text-align: right;
          }
        }
      }

      &.MuiListItemButton-root {
        & .MuiListItemIcon-root {
          margin-left: 10px;
          margin-right: 0;
        }
      }
    }
  }

  &.v2 {
    & .drawer-item__header {
      &.MuiListItemButton-root {
        & .MuiListItemIcon-root {
          & svg {
            width: 18px;
            height: 18px;
          }
        }
        & .MuiListItemText-root {
          & .MuiTypography-root {
            color: #1a1a1a;
            font-size: 12px;
            font-weight: 400;
            line-height: 21px;
          }
        }
      }
    }
  }
}
