.dashboard-layout {
  &__main {
    margin-left: 64px;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 24px;
    transition: all 350ms;
    margin-top: 0;
    margin-right: 0;
    border-radius: 0;
    background-color: #f8f9fa;

    @media screen and (max-width: 900px) {
      margin-left: 0px;
      gap: 14px;
      padding: 14px;
    }
  }

  &--dark {
    background-color: var(--mui-palette-background-paper);

    & .dashboard-layout__main {
      background-color: #2a3151;
    }
  }

  &--drawer-active {
    & .dashboard-layout__main {
      margin-left: 260px;
      margin-right: 0;

      @media screen and (max-width: 900px) {
        margin-left: 0;
      }
    }
  }

  &--rtl {
    & .dashboard-layout__main {
      margin-left: 14px;
      margin-right: 64px;
    }

    &.dashboard-layout--drawer-active {
      & .dashboard-layout__main {
        margin-right: 260px;
        margin-left: 0;
      }
    }
  }
}
