.colors {
  display: flex;
  flex-direction: row;
  gap: 4px;
  flex-wrap: wrap;

  &__color {
    width: 24px;
    height: 24px;
    border-radius: 4px;
    cursor: pointer;
    list-style: none;
    border: 2px solid transparent;

    &--active {
      border: 2px solid #000;
    }
  }
}
