.crm-page-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: transparent !important;

  & .page {
    display: flex;
    flex-direction: column;
    gap: 10px;

    & .breadcrumb {
      &.MuiBreadcrumbs-root {
        & .MuiBreadcrumbs-ol {
          & .MuiBreadcrumbs-li {
            &,
            & a,
            & .MuiTypography-root {
              color: #2d3748;
              font-size: 12px;
              font-weight: 400;
              line-height: 17px;
              text-decoration: unset;
            }

            & a {
              &:hover {
                text-decoration: underline;
              }
            }
          }

          & .MuiBreadcrumbs-separator {
            color: #2d3748;
            font-size: 12px;
            font-weight: 400;
            line-height: 17px;
          }
        }
      }
    }

    & .header {
      color: #23272e;
      font-size: 24px;
      font-weight: 600;
      line-height: 31px;
      letter-spacing: -0.12px;
    }
  }

  & .user {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
  }
}
