body {
  background-color: #f8f9fa;
}

.action-btn {
  border-radius: 8px;
  width: 36px;
  height: 36px;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.334;
  text-transform: uppercase;
  color: var(--mui-palette-primary-main);
  background-color: var(--mui-palette-primary-light);

  & svg {
    width: 24px;
    height: 24px;
  }

  &--setting {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
    padding: 8px;
    width: 100px;
    height: 51px;
    border-radius: 27px;
    cursor: pointer;

    & svg {
      width: 24px;
      min-width: 24px;
      height: 24px;
    }
  }

  &.crm {
    background-color: transparent;
    border-radius: 50%;
    border: 1px solid #ececec;
    color: #1a1a1a;

    &.action-btn--setting {
      width: 40px;
      min-width: 40px;
      height: 40px;
      border: unset;
      padding: 0;
    }
  }
}

.muiTablePaper {
  &.MuiPaper-root {
    width: 100%;
    box-shadow: none;
  }

  & .MuiTableContainer-root {
    border: unset;
  }

  & .MuiTableCell-head {
    &:before {
      background-color: unset !important;
      box-shadow: unset !important;
    }
  }

  & .top-toolbar-actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    gap: 8px;
  }
}

.table-top-toolbar {
  min-height: calc(3.5rem + 32px);

  &--dark {
    background-color: var(--mui-palette-background-paper);

    & .MuiSvgIcon-root {
      color: var(--mui-palette-text-primary);
    }
  }

  & .custom-bulk {
    &.MuiButtonBase-root {
      position: relative;
      overflow: hidden;

      & a {
        position: absolute;
        width: 100%;
        height: 100%;
      }
    }
  }
}

.table-head-row {
  &--dark {
    background-color: var(--mui-palette-background-paper);

    & .Mui-TableHeadCell-Content-Wrapper,
    & .MuiSvgIcon-root {
      color: var(--mui-palette-text-primary);
    }
  }

  & .Mui-TableHeadCell-Content-Wrapper {
    white-space: nowrap;
  }
}

.table-bottom-toolbar {
  &--dark {
    background-color: var(--mui-palette-background-paper);

    & .MuiSvgIcon-root {
      color: var(--mui-palette-text-primary);
    }
  }
}

.table-body {
  &--dark {
    background-color: var(--mui-palette-background-paper);

    & .MuiTableCell-root {
      border-color: var(--mui-palette-text-primary);
    }
  }
}

.service-charge {
  & > .MuiInputBase-root {
    padding: 0;
  }

  & .MuiInputAdornment-root {
    & .MuiInputBase-root {
      min-width: unset;

      & .MuiOutlinedInput-notchedOutline {
        border: unset;
        border-radius: 0;
      }

      & .MuiSelect-select {
        display: flex;
        align-items: center;
        gap: 8px;
      }
    }

    &.MuiInputAdornment-positionStart {
      & .MuiInputBase-root {
        & .MuiOutlinedInput-notchedOutline {
          border-right: 1px solid rgb(226, 226, 226);
        }
      }
    }

    &.MuiInputAdornment-positionEnd {
      & .MuiInputBase-root {
        & .MuiOutlinedInput-notchedOutline {
          border-left: 1px solid rgb(226, 226, 226);
        }
      }
    }
  }
}

.view-information-dialog {
  & .MuiDialogContent-root {
    // padding: 0 !important;
    max-height: 700px;
  }

  &.MuiPaper-root {
    max-width: 859px;
    width: 100%;
    padding: 64px 20px;

    & .MuiGrid-container {
      gap: 24px 16px;
      justify-content: space-between;
    }

    & .sections {
      display: flex;
      flex-direction: column;
      gap: 32px;
      padding: 12px;

      & .section-head {
        color: #121926;
        font-size: 16px;
        font-weight: 500;
        border-bottom: 1px solid #f5f5f5;
        padding-bottom: 24px;
        position: sticky;
        top: -64px;
        background-color: var(--mui-palette-background-paper);
        color: var(--mui-palette-text-primary);
      }

      & .item {
        display: flex;
        flex-direction: column;
        gap: 4px;

        & .label {
          color: #121926;
          font-size: 14px;
          font-weight: 700;
          text-transform: capitalize;
        }

        & .value {
          color: #6c6c6c;
          font-size: 14px;
          font-weight: 400;
          overflow-wrap: break-word;
          white-space: break-spaces;
        }

        &.icon {
          & .value {
            position: relative;
            width: 24px;
            height: 24px;
            border: 1px solid #e0e0e0;
            background-color: #f5f5f5;
            padding: 8px 16px;

            & img {
              object-fit: contain;
            }
          }
        }
      }
    }

    & .chips {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 4px;

      & .MuiChip-root {
        background-color: #6290cb;
        color: #fff;
        font-size: 12px;
        font-weight: 500;
      }
    }
  }
}

.input-color-adornment {
  height: 56px;
  width: 52px;
  margin-right: -13px;
  border-top-right-radius: inherit;
  border-bottom-right-radius: inherit;
  overflow: hidden;
  border-left: 0.5px solid rgba(128, 128, 128, 0.219);
  & input[type='color'] {
    height: 100%;
    border: none;
    padding: 0px;
    background: none;
    &::-webkit-color-swatch-wrapper {
      padding: 0px;
    }
    &::-webkit-color-swatch {
      border: none;
    }
  }
}
