/* 
These styles for home page tell it be ready 
*/

.home {
  background: url('https://images.unsplash.com/photo-1607602313891-31f603252656?q=80&w=1527&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D')
    no-repeat center center / cover;

  &::after {
    content: '';
    background-color: rgb(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }

  & svg {
    width: 100%;
    height: 100%;
  }

  & svg text {
    animation: stroke 5s infinite alternate;
    stroke-width: 2;
    stroke: #365fa0;
    font-size: 20rem;
    font-weight: 800;
  }

  & .wrapper {
    position: relative;
    z-index: 1994;
    width: 100%;
    height: 400px;
  }

  & .btn {
    position: relative;
    z-index: 1994;
  }

  &.crm {
    &::after {
      background-color: rgb(101, 5, 5, 0.3);
    }

    & svg text {
      stroke: rgb(245, 41, 41);
      animation: strokecrm 5s infinite alternate;
    }
  }

  @keyframes stroke {
    0% {
      fill: rgb(108, 150, 207, 0);
      stroke: rgb(108, 150, 207, 1);
      stroke-dashoffset: 25%;
      stroke-dasharray: 0 50%;
      stroke-width: 2;
    }
    70% {
      fill: rgba(72, 138, 204, 0);
      stroke: rgb(108, 150, 207, 1);
    }
    80% {
      fill: rgba(72, 138, 204, 0);
      stroke: rgb(108, 150, 207, 1);
      stroke-width: 3;
    }
    100% {
      fill: rgb(108, 150, 207, 1);
      stroke: rgba(54, 95, 160, 0);
      stroke-dashoffset: -25%;
      stroke-dasharray: 50% 0;
      stroke-width: 0;
    }
  }

  @keyframes strokecrm {
    0% {
      fill: rgb(108, 150, 207, 0);
      stroke: rgb(245, 41, 41);
      stroke-dashoffset: 25%;
      stroke-dasharray: 0 50%;
      stroke-width: 2;
    }
    70% {
      fill: rgba(72, 138, 204, 0);
      stroke: rgb(245, 41, 41);
    }
    80% {
      fill: rgba(72, 138, 204, 0);
      stroke: rgb(245, 41, 41);
      stroke-width: 3;
    }
    100% {
      fill: rgb(245, 41, 41);
      stroke: rgba(54, 95, 160, 0);
      stroke-dashoffset: -25%;
      stroke-dasharray: 50% 0;
      stroke-width: 0;
    }
  }
}
