.colors {
  display: flex;
  flex-direction: row;
  gap: 4px;
  flex-wrap: wrap;

  &__color {
    width: 24px;
    height: 24px;
    border-radius: 4px;
    cursor: pointer;
    list-style: none;
    border: 2px solid transparent;

    &--active {
      border: 2px solid #000;
    }
  }
}

.action-btn--setting {
  &.MuiButton-root {
    width: 100%;
    height: 56px;
    min-height: 56px;
    justify-content: flex-start;
    gap: 12px;
    background-color: #e0e6ed;
    border: unset;

    & .content {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      color: var(--mui-palette-text-primary);
      text-transform: lowercase;

      & .name {
        text-transform: capitalize;
      }

      & .email {
        font-size: 12px;
        color: var(--mui-palette-text-secondary);
      }
    }
  }

  &.drawer-open {
    &.MuiButton-root {
      min-width: unset;
      & .MuiAvatar-root {
        width: 32px;
        height: 32px;
      }
    }
  }
}
