.title-actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;

  & .MuiButton-root {
    display: flex;
    align-items: center;
    position: relative;
    background-color: #f8f9fa;
    color: #1a1a1a;
    font-size: 14px;
    padding: 6px 13px;
    min-height: 32px;
    border-color: #e0e6ed;
    border-radius: 100px;

    & a {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
    }
  }
}
