.crm-logo {
  display: flex;
  align-items: center;
  justify-content: space-between;

  & .logo {
    position: relative;
    height: 44px;
    width: 152px;
    display: flex;
    justify-content: flex-start;

    & img {
      object-fit: contain;
    }
  }
}

.crm-subtitle {
  color: #90a1b9;
  font-size: 12px;
  font-weight: 400;
  line-height: 21px;
}
