.loading {
  min-height: 100dvh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__gif {
    position: relative;
    width: 200px;
    height: 200px;

    & img {
      object-fit: contain;
    }
  }

  &__title {
    font-size: 1.5rem;
    padding: 0;
    margin: 0;
    font-weight: 600;
  }

  &--section {
    height: 100%;
    min-height: unset;
  }
}
